@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format('woff2');
  font-display: swap;
}
/* Body------------------------------------------------------------------------------------------------------------ */

html {
height: 100%;
list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3321px;
  margin: 0px 40px;
  min-height: 100%;
  max-width: 1200px;

 font-family:"PT Sans", sans-serif;
 font-size: 18px;
 line-height: 24px;
 background-color: #E5E5E5;
 color: black;

 list-style: none;

}

.visually-hidden {
  visibility: hidden;
}


/*------------------header-------*/


.page-heder {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;


  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  margin: 0 auto;
  list-style: none;


}

.navigation {
display: flex;
width: 1060px;
margin: 0 70px;
align-self: center;
flex-basis: auto;

list-style: none;

}

.navigation-menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu-navigation-item-logo {
  max-width: 139px;
  max-height: 70px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.menu-navigation-item-list {
  max-width: 345px;
  max-height: 66px;
  padding: 0;


  list-style: none;

  display:flex;
}


.navigation-list-menu {
  display: flex;
  margin: 20px auto;
  justify-content: space-around;

  list-style: none;
  }

.navigation-item-menu {
display: flex;
align-self: center;

margin: 0;
padding: 0;

}

.menu-navigation-item-list-right {
  width: 264px;
  height: 66px;
  margin: 0 0 0 299px;
  padding: 0;

  list-style: none;

}

.navigation-user {
padding: 0;
margin: 0;
display: flex;
width: 264px;

list-style: none;

}

.navigation-item-right{
  margin: 23px 23px;

}
.navigation-link-menu {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;

  list-style: none;

  display: flex;
  flex-shrink: 0;
  align-self: center;
  margin:20px 17px;
  padding:0;

}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;

  list-style: none;

 }

.navigation-item-right-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;

  list-style: none;
}

.green {
  position:relative;
}
.green::before {
  position: absolute;
    top: -5px;
    left: 10px;
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid rgba(125, 181, 79, 1);
    background: rgba(125, 181, 79, 1);
    font-size: 8px;
}

.green::after {
  position: absolute;
    top: -10px;
    left: 12px;
    content: '12';
    width: 10px;
    height: 10px;
    font-size: 8px;
}

/* ---------------------------------------------------------------------------main-----------------------*/



.main-container {
  flex-grow: 1;

}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

 .main-index {


  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
}

.hight-images {
  background-image: url("../images/layout/main-page/main-new/main-page-background.jpg");
  background-color: #FFFFFF;
  color: #000000;
  background-size: 100%
  background-repeat: no-repeat;
  width: 1200px ;
  height: 485px;
}

.welcome-text {
width: 458px;
height: 352px;
margin: 52px 371px;
padding: 0;
}

.bottom-main-page-background {
  width: 1200px;
  height: 57px;
  margin: 29px 0 0 0;
  padding: 0;
}

.sedona-main-background-image, .bottom-main-page-background, .welcome-text  {
  position: relative;
}

.bottom-main-page-background {
  top: -63px;
}



.description-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  max-width: 1200px;
  height: 282px;
}

.description-title-causes {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  width: 720px;
  height: 72px;
}

.description-text-causes {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  width: 720px;
  height: 36px;
}


.advantages {
  text-align: center;
  color: #000000;

display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: nowrap;
flex-direction: column;


}

.advantages-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;

  margin: 0;
  list-style: none;

}

.photo-town {
max-width: 800px;

}
.min-pros {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;


}
.advantages-item{
  display: flex;
  align-self: center;
  flex-basis: auto;
  max-width: 400px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
}
.facts {
  color: white;
  background-color: #83B3D3;
  height: 384px;
  width: 400;
}


.description-text-own-life {
font-family: "PT Sans", sans-serif;
font-size: 18px;
font-weight: normal;
font-style: normal;
line-height: 21px;
text-align: center;
}

.town {
  width: 800px;
  height: 384px;
  top: 832px;
  left: 440px;
}

.clips {
  background-color: rgba(131, 179, 211, 0.12);
  }

.description-text-recommend {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
}
.description-text-burger {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
}

.description-text-souvenirs {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  text-align: center;
}
.canyon {
  width: 800px;
  height: 384px;
  top: 1600px;
  left: 40px;
}

.clip-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  background-color: rgba(255, 255, 255, 1);
  ;
}

.got-interesred {
font-size: 30px;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
line-height: 36px;
text-align: center;
}
.description-text-best-deals {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  text-align: center;
}
.search-hotel-item-button {
  background-color: rgba(117, 98, 87, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans" no-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
}

.section-mailing {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
}

.description-text-no-spam {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  color: white;
}

.newsletter-email {
  color: rgba(0, 0, 0, 1);
}
.field {
background-color: rgba(242, 242, 242, 1);
height: 60px;
width: 600px;
}
.button-newsletter-button {
  background-color: rgba(131, 179, 211, 1);
  height: 60px;
  width: 200px;
}
.subscribe {
  font-family: "PT Sans" sen-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}

.subscribe-to-the-newsletter {
  background-image: url("../images/layout/main-page/main-new/main-page-background--email.jpg");
  width:1200px;
  height: 411px;
}

/*-------------------------*/

/*--------footer-------*/

.page-footer-container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;

  max-width: 1200px;
  margin: 0;
  padding: 0;
}
.footer-social-list {
  display: flex;
}

.footer-social-list-footer{
  list-style: none;

  display: flex;
  justify-content: space-between;
  left: 72px;
  width: 107px;
  height: 18px;
  margin: 49px 61px 53px 72px;

}
.footer-phone {
max-width: 720px;
margin: 0 auto;
}

.footer-logo-html {
  max-width: 115px;
  margin: 0 auto;

}


.footer-social-item {
  list-style: none;
}
/*
social-networks-twitter {
  display: flex;
 flex: 0 1 auto;
 margin: 50px 29px 55px 72px;
}
*/

.page-footer {
  background-color: rgba(255, 255, 255, 1);
}

.page-footer a {
text-decoration: none;
  color: black;
}
.contacts-phone {
  line-height: 40px;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.footer-contacts-logo {
  width: 114px;
  height: 32px;
}


.visually-hidden {
  display: none;
}






/*-----------catalog-----------------------*/

.subscribe-to-the-newsletter {
background-color: rgba(255, 255, 255, 1);
}

.main-inner {
  background-color: rgba(255, 255, 255, 1);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;

}
.inner-header {
  color: rgba(255, 255, 255, 1);
}
.inner-header-title {
  text-align: left;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  text-transform: inherit;
}
.breadcrumbs-item a {
  text-decoration: none;
}
.breadcrumbs-link {
  width: 12px;
  height: 11px;
}
.arrow-main-inner {
  width: 5px;
  height: 7px;
}
.breadcrumbs-link-hotels {
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-style: Regular;
line-height: 21px;
text-align: left;
}
.catalog-filter-title {
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 20px;
font-style: normal;
line-height: 26px;
text-align: left;
vertical-align: top;
}
.control-input {
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-style: normal;
line-height: 23px;
font-size: 18px;
text-align: left;
vertical-align: top;
}
.button-apply {
  background-color: rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  height: 60px;
  width: 200px;

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
}

.button-reset {
font-family: "PT Sans", sans-serif;
font-weight: 400;
font-style: Regular;
line-height: 23px;
text-align: center;
font-size: 18px;
vertical-align: top;
}
.sorting-catalog-main {
  color:rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1) ;
  font-family: "PT Sans", sans-serif;
}
.hotels-found {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 39px;
  text-align: left;
}
.sorting-catalog-cheap {
  font-size: 18px;
  font-weight: 400;
  font-style: regular;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
}
.element-directory {
background-color:rgba(255, 255, 255, 1);
font-family: "PT Sans", sans-serif;
text-decoration: none;
}
.product-card a {
  text-decoration: none;
}
.product {
  width: 300;
  height: 206;
}
.product-card-title {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
.product-card-text {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 23px;
}
.product-card-price {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 23px ;
}
.product-card-button {
  color:rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 21px
}
.more {
  background-color:rgba(117, 98, 87, 1) ;
  color:rgba(255, 255, 255, 1) ;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;

}
.to-favorites {
  background-color:rgba(131, 179, 211, 1) ;
  color: rgba(255, 255, 255, 1) ;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.rating {
  background-color:rgba(242, 242, 242, 1) ;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination-show-more-section {
  background-color:white ;
}
.pagination-show-more {
  background-color:rgba(131, 179, 211, 1) ;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 26px;
  text-transform: uppercase;
}
.pagination-link {
  background-color: rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 26px;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  text-decoration: none;

}
.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 26px;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}
.number {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-style: regular;
  text-decoration: none;
  line-height: 23px;
  text-align: left;

}
.pagination-show {
  background-color: white;
}
.select-control-catalog {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 400;
  font-style: regular;
  text-decoration: none;
  line-height: 23px;
  text-align: left;

}
.inner-header {
  background-image: url("../images/layout/cataloge-page/main-new/catalog-background-blurred.jpg");

}


.subscribe-to-the-newsletter {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
